body {
  margin: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

.countryCard img {
  height: 160px;
}

.bordering-country {
  max-width: 24px;
  margin-right: 0.5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
